.MovieCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 100%;
  padding: 15px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding: 10px 20px;
  }

  &__poster {
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: flex-start;
  }

  &__title {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
  }

  &__score {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
  }

  &__header {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__textdata {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 400;
  }

  &__productionCompaniesList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
  }

  &__productionCompany {
    display: inline-block;
    background-color: red;
  }
}
