.AdditionalInformation {
  width: calc(100% - 30px);
  padding: 15px;

  &__title {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 20px;

    &:hover {
      background-color: #ff3cac;
      background-image: linear-gradient(
        225deg,
        #2b86c5 0%,
        #784ba0 50%,
        #ff3cac 100%
      );
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    filter: grayscale(1) invert(1);
  }
}
