.MoviesList {
  margin: 0 auto;

  &__label {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__list {
    list-style: outside '🎞️';
  }

  &__item {
    padding: 6px 12px;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          to right,
          rgb(255, 255, 255) 0%,
          darkblue 5%,
          rgb(255, 255, 255) 30%
        )
        border-box;
    border-bottom: 1px solid transparent;
  }

  &__link {
    color: #000;
    text-decoration: none;
    margin: 1px;

    &:hover,
    &:focus {
      color: #ff3cac;
    }
  }
}
