.Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  &__links {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    height: 100%;
    padding: 0 1rem;
    list-style: none;
    font-size: 1.5rem;
    margin-left: 20px;
    color: #000;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #ff3cac;
      text-shadow: 3px 3px 20px #ff3cac, -2px 1px 30px #ff3cac;
    }
  }
}
